@model OwnerDetailsViewModel

@{
	ViewData["Title"] = "Owner Details";
	Pager pager = ViewBag.Pager;
}

<partial name="_NotificationPartial" />

<div id="parent" class="row">
	<div class="col-md-8 col-lg-4 child mt-4">

		<div class="card border-secondary mb-3 justify-content-center">
			<h4 class="card-header">@ViewData["Title"]</h4>
			<div class="card-body">
				<dl class="row">

					<dt class="col-5 card-title">Name:</dt>
					<dd class="col-7 card-text">@Model.Owner.Name</dd>

					<dt class="col-5 card-title">Address:</dt>
					<dd class="col-7 card-text">@Model.Owner.Address</dd>

					<dt class="col-5 card-title">PhoneNumber:</dt>
					<dd class="col-7 card-text">@Model.Owner.PhoneNumber</dd>

					@if (Model.Owner.Email != null)
					{
						<dt class="col-5 card-title">Email:</dt>
						<dd class="col-7 card-text">@Model.Owner.Email</dd>
					}
				</dl>
				<a class="btn btn-outline-primary text-white" asp-controller="Patient" asp-action="AddPet" asp-route-ownerId="@Model.Owner.Id">Add Pet</a>
				<a class="btn btn-outline-warning text-white" asp-controller="Owner" asp-action="Edit" asp-route-ownerId="@Model.Owner.Id">Edit</a>
			</div>
		</div>

	</div>
	<div class="col-md-12 col-lg-8 child mt-4">
		<div class="card border-secondary">
			<h4 class="card-header">Pets</h4>
			<div class="card-body">
				@if (Model.Patients.Any())
				{
					<div class="table-responsive">
						<table class="table table-secondary">
							<thead>
								<tr>
									<th>
										Name
									</th>
									<th>
										Type
									</th>
									<th>
										Gender
									</th>
									<th>
										Neutered
									</th>
									<th>
										Details
									</th>
									<th>
										Edit
									</th>
									<th>
										Delete
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var patient in Model.Patients)
								{
									<tr class="table-dark">
										<td>
											@patient.Name
										</td>
										<td>
											@patient.Type
										</td>
										<td>
											@patient.Gender
										</td>
										<td>
											@patient.Neutered
										</td>
										<td>
											<a class="btn btn-outline-primary btn-sm text-white" asp-controller="Patient" asp-action="Details" asp-route-patientId="@patient.Id">Details</a>
										</td>
										<td>
											<a class="btn btn-outline-warning btn-sm text-white" asp-controller="Patient" asp-action="Edit" asp-route-patientId="@patient.Id">Edit</a>
										</td>
										<td>
											<a class="btn btn-outline-danger btn-sm text-white" asp-controller="Patient" asp-action="Delete" asp-route-patientId="@patient.Id">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
				else
				{
					<h3 class="text-center">No examinations yet!</h3>
				}
			</div>
			<div class="card-footer">
				<partial name="_PaginationBottomBarPartial" model="pager" />
			</div>

		</div>

		<div class="container mt-1">
			@if (pager.TotalPages > 0)
			{
				<ul class="pagination justify-content-center m-0">

					@if (pager.HasPreviousPage)
					{

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Owner"
							   asp-action="Details"
							   asp-route-ownerId="@Model.Owner.Id"
							   asp-route-currentPage="1">First</a>
						</li>

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Owner"
							   asp-action="Details"
							   asp-route-ownerId="@Model.Owner.Id"
							   asp-route-currentPage="@(pager.CurrentPage - 1)">Previous</a>
						</li>

					}

					@for (int i = pager.StartPage; i <= pager.EndPage; i++)
					{

						<li class="page-item @(i==pager.CurrentPage ? "active" : string.Empty)">
							@if (i != pager.CurrentPage)
							{
								<a class="page-link"
								   asp-controller="Owner"
								   asp-action="Details"
								   asp-route-ownerId="@Model.Owner.Id"
								   asp-route-currentPage="@i">@i</a>
							}
							else
							{
								<span class="page-link">@i</span>
							}
						</li>
					}

					@if (pager.HasNextPage)
					{
						<li class="page-item">
							<a class="page-link"
							   asp-controller="Owner"
							   asp-action="Details"
							   asp-route-ownerId="@Model.Owner.Id"
							   asp-route-currentPage="@(pager.CurrentPage + 1)">Next</a>
						</li>

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Owner"
							   asp-action="Details"
							   asp-route-ownerId="@Model.Owner.Id"
							   asp-route-currentPage="@pager.TotalPages">Last</a>
						</li>
					}

				</ul>
			}
		</div>
	</div>
</div>

