@model ExaminationDetailsViewModel

@{
	ViewData["Title"] = "Examination Details";
}

<div class="row justify-content-center mt-4">
	<div class="col-12 col-md-8 col-lg-5">
		<div class="card border-secondary">
			<h4 class="card-header">@ViewData["Title"] </h4>
			<div class="card-body">
				<dl class="row">
					<dt class="col-5 card-title">Created on:</dt>
					<dd class="col-7 card-text">@Model.CreatedOn.ToString("dd/MM/yyyy")</dd>

					<dt class="col-5 card-title">Doctor:</dt>
					<dd class="col-7 card-text">@Model.DoctorName</dd>

					<dt class="col-5 card-title">Status:</dt>
					<dd class="col-7 card-text">@Model.StatusName</dd>

					<dt class="col-5 card-title">Weight:</dt>
					<dd class="col-7 card-text">@Model.Weight</dd>

					<dt class="col-5 card-title">Reason:</dt>
					<dd class="col-7 card-text">@Model.Reason</dd>

					<dt class="col-5 card-title">Diagnosis:</dt>
					<dd class="col-7 card-text">@Model.Diagnosis</dd>

					<dt class="col-5 card-title">Surgery:</dt>
					<dd class="col-7 card-text">@Model.Surgery</dd>

					<dt class="col-5 card-title">Therapy:</dt>
					<dd class="col-7 card-text">@Model.Therapy</dd>

					<dt class="col-5 card-title">SpecificCondition:</dt>
					<dd class="col-7 card-text">@Model.SpecificCondition</dd>

					<dt class="col-5 card-title">CurrentCondition:</dt>
					<dd class="col-7 card-text">@Model.CurrentCondition</dd>

					<dt class="col-5 card-title">Exit:</dt>
					<dd class="col-7 card-text">@Model.Exit</dd>

					<dt class="col-5 card-title">MedicalHistory:</dt>
					<dd class="col-7 card-text">@Model.MedicalHistory</dd>

					<dt class="col-5 card-title">Research:</dt>
					<dd class="col-7 card-text">@Model.Research</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

