@model AllPatientsQueryModel

@{
	ViewData["Title"] = "All Patients";
	string doctorId = ViewBag.UserId;
}

@* <form class="" asp-controller="Patient" asp-action="All" method="get" style="max-width: 20rem; margin: 10px 0px">
	<input class="form-control me-sm-2" type="search" pattern="[^\d\s]+" placeholder="Search by name" spellcheck="false" data-ms-editor="true" name="patientName">
	<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form> *@

<form method="get">
	<div class="d-flex align-items-center justify-content-between">

		<div class="form-group col-md-3">
			<label asp-for="SearchString"></label>
			<input asp-for="SearchString" class="form-control" placeholder="...">
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="PatientSorting"></label>
				<select asp-for="PatientSorting" class="form-control">
					<option value="0">Patient Name (Ascending)</option>
					<option value="1">Patient Name (Descending)</option>
					<option value="2">Owner Name (Ascending)</option>
					<option value="3">Owner Name (Descending)</option>
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="PatientsPerPage"></label>
				<select asp-for="PatientsPerPage" class="form-control">
					<option value="3">3</option>
					<option value="6">6</option>
					<option value="9">9</option>
				</select>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group mt-4">
				<input type="submit" value="Search" class="btn btn-secondary" />
			</div>
		</div>

	</div>
</form>

@{
	int previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	int maxPage = (int)Math.Ceiling((double)Model.TotalPatients /
		Model.PatientsPerPage);
}

<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Patient"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-searchString="@Model.SearchString"
		   asp-route-patientSorting="@((int)Model.PatientSorting)"><<</a>
	</div>

	@{
		bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Patients.Any();
	}

	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-primary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Patient"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-searchString="@Model.SearchString"
		   asp-route-patientSorting="@((int)Model.PatientSorting)">>></a>
	</div>
</div>


<div class="card border-secondary mb-3" style="margin: 10px 0px">
	<h3 class="card-header text-center">
		Patients
		<span class="float-end">
			<a class="btn btn-outline-primary text-white" asp-controller="Patient" asp-action="All" asp-route-SearchString="@doctorId">Mine</a>
		</span>
	</h3>

	<div class="card-body">

		@if (!Model.Patients.Any())
		{
			<h3 class="text-center">No patients yet!</h3>
		}
		else
		{
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
				@foreach (var patient in Model.Patients)
				{
					<partial name="_PatientAllPartial" model="@patient"/>
				}
			</div>
		}
	</div>
</div>