@model PatientDetailsViewModel

@{
	ViewData["Title"] = "Patient Details";
	Pager pager = ViewBag.Pager;
}
<partial name="_NotificationPartial" />

<div id="parent" class="row">
	<div class="col-md-8 col-lg-4 child">
		<partial name="_PatientDetailsPartial" model="@Model.Patient" />
	</div>
	<div class="col-md-12 col-lg-8 child">
		<div class="card border-secondary mb-3" style="margin: 10px 0px">
			<h4 class="card-header">Examinations</h4>
			<div class="card-body">
				@if (Model.Examinations.Any())
				{
					<div class="table-responsive">
						<table class="table table-secondary">
							<thead>
								<tr>
									<th>
										Created On
									</th>
									<th>
										Reason
									</th>
									<th>
										Doctor
									</th>
									<th>
										Status
									</th>
									<th>
										Details
									</th>
									<th>
										Edit
									</th>
									<th>
										Delete
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var examination in Model.Examinations)
								{
									<tr class="table-dark">
										<td>
											@examination.CreatedOn.ToString("dd/MM/yyyy")
										</td>
										<td>
											@examination.Reason
										</td>
										<td>
											@examination.DoctorName
										</td>
										<td>
											@examination.StatusName
										</td>
										<td>
											<a class="btn btn-outline-primary btn-sm text-white" asp-controller="Examination" asp-action="Details" asp-route-examinationId="@examination.Id">Details</a>
										</td>
										<td>
											<a class="btn btn-outline-warning btn-sm text-white" asp-controller="Examination" asp-action="Edit" asp-route-examinationId="@examination.Id" asp-route-patientId="@Model.Patient.Id">Edit</a>
										</td>
										<td>
											<a class="btn btn-outline-danger btn-sm text-white" asp-controller="Examination" asp-action="Delete" asp-route-examinationId="@examination.Id">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
				else
				{
					<h3 class="text-center">No examinations yet!</h3>
				}
			</div>
					<div class="card-footer">
						<partial name="_PaginationBottomBarPartial" model="pager" />
					</div>

		</div>

		<div class="container mt-1">
			@if (pager.TotalPages > 0)
			{
				<ul class="pagination justify-content-center m-0">

					@if (pager.HasPreviousPage)
					{

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Patient"
							   asp-action="Details"
							   asp-route-patientId="@Model.Patient.Id"
							   asp-route-currentPage="1">First</a>
						</li>

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Patient"
							   asp-action="Details"
							   asp-route-patientId="@Model.Patient.Id"
							   asp-route-currentPage="@(pager.CurrentPage - 1)">Previous</a>
						</li>

					}

					@for (int i = pager.StartPage; i <= pager.EndPage; i++)
					{

						<li class="page-item @(i==pager.CurrentPage ? "active" : string.Empty)">
							@if (i != pager.CurrentPage)
							{
								<a class="page-link"
								   asp-controller="Patient"
								   asp-action="Details"
								   asp-route-patientId="@Model.Patient.Id"
								   asp-route-currentPage="@i">@i</a>
							}
							else
							{
								<span class="page-link">@i</span>
							}
						</li>
					}

					@if (pager.HasNextPage)
					{
						<li class="page-item">
							<a class="page-link"
							   asp-controller="Patient"
							   asp-action="Details"
							   asp-route-patientId="@Model.Patient.Id"
							   asp-route-currentPage="@(pager.CurrentPage + 1)">Next</a>
						</li>

						<li class="page-item">
							<a class="page-link"
							   asp-controller="Patient"
							   asp-action="Details"
							   asp-route-patientId="@Model.Patient.Id"
							   asp-route-currentPage="@pager.TotalPages">Last</a>
						</li>
					}

				</ul>
			}
		</div>
	</div>
</div>

