@model PatientVM

@{
	ViewData["Title"] = "Patient Info";
}

<div class="card text-white bg-secondary mb-3" style="max-width: 25rem; margin: 0 auto">
	<h4 class="card-header">@Model.Type</h4>
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-5 card-title">Name:</dt>
			<dd class="col-sm-5 card-title">@Model.Name</dd>

			<dt class="col-sm-5 card-title">BirthDate:</dt>
			<dd class="col-sm-5 card-title">@Model.BirthDate</dd>

			<dt class="col-sm-5 card-title">Gender:</dt>
			<dd class="col-sm-5 card-title">@Model.Gender</dd>

			<dt class="col-sm-5 card-title">Neutered:</dt>
			<dd class="col-sm-5 card-title">@Model.Neutered</dd>

			<dt class="col-sm-5 card-title">Microchip:</dt>
			<dd class="col-sm-5 card-title">@Model.Microchip</dd>

			<dt class="col-sm-5 card-title">ChronicIllnesses:</dt>
			<dd class="col-sm-5 card-title">@Model.ChronicIllnesses</dd>

			<dt class="col-sm-5 card-title">Characteristics:</dt>
			<dd class="col-sm-5 card-title">@Model.Characteristics</dd>
		</dl>
	</div>
</div>