@model AllPatientsQueryModel

@{
	ViewData["Title"] = "Mine";
	string doctorId = ViewBag.DoctorId;
	Pager pager = ViewBag.Pager;
}

<partial name="_NotificationPartial" />

<form method="get" class="mt-2">

	<div class="d-flex align-items-center justify-content-end">

		<div class="form-group col-md-3 col-lg-2">
			<label asp-for="SearchString"></label>
			<input asp-for="SearchString" class="form-control" placeholder="...">
			<input asp-for="DoctorId" value="@doctorId" class="form-control" type="hidden" />
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="PatientSorting"></label>
				<select asp-for="PatientSorting" class="form-control">
					<option value="0">Patient Name (Ascending)</option>
					<option value="1">Patient Name (Descending)</option>
					<option value="2">Owner Name (Ascending)</option>
					<option value="3">Owner Name (Descending)</option>
				</select>
			</div>
		</div>

		<div class="form-group col-1 col-md-1 col-lg-1 col-xl-1">
			<div class="form-group">
				<label asp-for="PatientsPerPage"></label>
				<select asp-for="PatientsPerPage" class="form-control">
					<option value="3">3</option>
					<option value="6">6</option>
					<option value="9">9</option>
				</select>
			</div>
		</div>

		<div class="col-2 col-md-2 col-lg-1 mt-4">
			<div class="form-group">
				<span class="float-end">
					<input type="submit" value="Search" class="btn btn-secondary" />
				</span>
			</div>
		</div>

	</div>
</form>

<div class="card border-secondary mb-3 btn-group" style="margin: 10px 0px">
	<div class="card-header">
		<div class="row d-flex justify-content-between align-items-center">
			<div class="col">
				<a class="btn btn-outline-success text-white" asp-controller="Patient" asp-action="Add">Create</a>
			</div>
			<div class="col-6">
				<h3 class="text-center">Patients</h3>
			</div>
			<div class="col">
				<span class="float-end">
					<a class="btn btn-outline-primary text-white flex-end" asp-controller="Patient" asp-action="All">Back to all</a>
				</span>
			</div>
		</div>

	</div>

	<div class="card-body">

		@if (!Model.Patients.Any())
		{
			<h3 class="text-center">No patients yet!</h3>
		}
		else
		{
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
				@foreach (var patient in Model.Patients)
				{
					<partial name="_PatientAllPartial" model="@patient" />
				}
			</div>
		}
	</div>

	<div class="card-footer">
		<partial name="_PaginationBottomBarPartial" model="pager" />
	</div>
</div>

<div class="container mt-1">
	@if (pager.TotalPages > 0)
	{
		<ul class="pagination justify-content-center m-0">

			@if (pager.HasPreviousPage)
			{

				<li class="page-item">
					<a class="page-link"
					   asp-controller="Patient"
					   asp-action="Mine"
					   asp-route-doctorId="@doctorId"
					   asp-route-currentPage="1"
					   asp-route-patientsPerPage="@Model.PatientsPerPage"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-patientSorting="@((int)Model.PatientSorting)">First</a>
				</li>

				<li class="page-item">
					<a class="page-link"
					   asp-controller="Patient"
					   asp-action="Mine"
					   asp-route-doctorId="@doctorId"
					   asp-route-currentPage="@(Model.CurrentPage - 1)"
					   asp-route-patientsPerPage="@Model.PatientsPerPage"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-patientSorting="@((int)Model.PatientSorting)">Previous</a>
				</li>

			}

			@for (int i = pager.StartPage; i <= pager.EndPage; i++)
			{

				<li class="page-item @(i==Model.CurrentPage ? "active" : string.Empty)">
					@if (i != Model.CurrentPage)
					{
						<a class="page-link"
						   asp-controller="Patient"
						   asp-action="Mine"
						   asp-route-doctorId="@doctorId"
						   asp-route-currentPage="@i"
						   asp-route-patientsPerPage="@Model.PatientsPerPage"
						   asp-route-searchString="@Model.SearchString"
						   asp-route-patientSorting="@((int)Model.PatientSorting)">@i</a>
					}
					else
					{
						<span class="page-link">@i</span>
					}
				</li>
			}

			@if (pager.HasNextPage)
			{
				<li class="page-item">
					<a class="page-link"
					   asp-controller="Patient"
					   asp-action="Mine"
					   asp-route-doctorId="@doctorId"
					   asp-route-currentPage="@(Model.CurrentPage + 1)"
					   asp-route-patientsPerPage="@Model.PatientsPerPage"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-patientSorting="@((int)Model.PatientSorting)">Next</a>
				</li>

				<li class="page-item">
					<a class="page-link"
					   asp-controller="Patient"
					   asp-action="Mine"
					   asp-route-doctorId="@doctorId"
					   asp-route-currentPage="@pager.TotalPages"
					   asp-route-patientsPerPage="@Model.PatientsPerPage"
					   asp-route-searchString="@Model.SearchString"
					   asp-route-patientSorting="@((int)Model.PatientSorting)">Last</a>
				</li>
			}

		</ul>
	}
</div>