@model ICollection<PatientVM>

@{
	ViewData["Title"] = "My Patients";
}

@if (!Model.Any())
{
	<h3 class="text-center">No patients yet!</h3>
}
else
{
	<table class="table table-secondary">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Type
				</th>
				<th>
					BirthDate
				</th>
				<th>
					Gender
				</th>
				<th>
					Neutered
				</th>
				<th>
					Microchip
				</th>
				<th>
					Chronic illnesses
				</th>
				<th>
					Characteristics
				</th>
				<th>
					Examinations
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr class="table-dark">
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Type)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.BirthDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Gender)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Neutered)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Microchip)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ChronicIllnesses)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Characteristics)
					</td>
					@* <td>
			<a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
			</td> *@
					<td>
						<a class="btn btn-info text-white" asp-controller="Examination" asp-action="All" asp-route-patientId="@item.Id">Examinations</a>
					</td>
					@* <td>
			<a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td> *@
				</tr>
			}
		</tbody>
	</table>
}

