@using VetApp.Web.ViewModels.Patient
@model ICollection<PatientOwnerVM>

@{
	ViewData["Title"] = "Owner Patients";
}

@if (!Model.Any())
{
	<h3 class="text-center">No owners with this phone number</h3>
}
else
{
	foreach (var owner in Model)
	{
	<table class="table table-secondary">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Address
				</th>
				<th>
					PhoneNumber
				</th>
				<th>
					Patients
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-dark">
				<td>
					@owner.OwnerName
				</td>
				<td>
					@owner.Address
				</td>
				<td>
					@owner.PhoneNumber
				</td>
				@foreach (var patient in owner.Patients)
				{
					<td>
						<a class="btn btn-info text-white" asp-controller="Patient" asp-action="Details" asp-route-patientId="@patient.Id">@patient.Name</a>
					</td>
				}
			</tr>
		</tbody>
	</table>
	}
}

