<div class="row justify-content-between">

	<div class="col-4">
		<p class=" m-0">
			Showing @Model.StartRecord to @Model.EndRecord of @Model.TotalItems Rows
		</p>
	</div>

	<div class="col-4">
		<p>
			<span class="float-end align-items-center">
				Showing @Model.CurrentPage / @Model.TotalPages
			</span>
		</p>
	</div>

</div>
