@{
	ViewData["Title"] = "All Patients";
}


<div class="col mb-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<p class="card-text">@Model.Type</p>
			<p class="card-text">
				@if (Model.BirthDate != null)
				{
					@Model.BirthDate.ToString("dd.MM.yyyy")
				}
			</p>
			<p>@Model.Gender</p>
			<p>@Model.Neutered</p>
			<p><a class="btn btn-outline-primary text-white" asp-controller="Examination" asp-action="Add" asp-route-patientId="@Model.Id">Add Examination</a></p>
			<p><a class="btn btn-outline-warning text-white" asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></p>
			<p><a class="btn btn-outline-info text-white" asp-controller="Patient" asp-action="Details" asp-route-patientId="@Model.Id">Details</a></p>
		</div>
	</div>
</div>

