@{
	ViewData["Title"] = "Patient Details";
}

<div class="card border-secondary mb-3" style="max-width: 25rem; margin: 10px 0px">
	<h4 class="card-header">@Model.Name</h4>
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-5 card-title">Type:</dt>
			<dd class="col-sm-5 card-text">@Model.Type</dd>

			<dt class="col-sm-5 card-title">Gender:</dt>
			<dd class="col-sm-5 card-text">@Model.Gender</dd>
			
			<dt class="col-sm-5 card-title">Neutered:</dt>
			<dd class="col-sm-5 card-text">@Model.Neutered</dd>

			<dt class="col-sm-5 card-title">Owner Name:</dt>
			<dd class="col-sm-5 card-text">@Model.OwnerName</dd>

			<dt class="col-sm-5 card-title">BirthDate:</dt>
			<dd class="col-sm-5 card-text">
				@if (Model.BirthDate != null)
				{
					Model.BirthDate.ToString("dd/MM/yyyy");
				}
			</dd>

			<dt class="col-sm-5 card-title">Microchip:</dt>
			<dd class="col-sm-5 card-text">@Model.Microchip</dd>

			<dt class="col-sm-5 card-title">Chronic Illnesses:</dt>
			<dd class="col-sm-5 card-text">@Model.ChronicIllnesses</dd>

			<dt class="col-sm-5 card-title">Characteristics:</dt>
			<dd class="col-sm-5 card-text">@Model.Characteristics</dd>
		</dl>
	</div>
</div>