@model ICollection<PatientVM>

@{
	ViewData["Title"] = "All Patients";
}

@foreach (var item in Model)
{
	<tr class="table-dark">
		<td>
			@item.Name
		</td>
		<td>
			@item.Type
		</td>
		<td>
			@item.BirthDate
		</td>
		<td>
			@item.Gender
		</td>
		<td>
			@item.Neutered
		</td>
		@* <td>
	<a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
	</td> *@
		<td>
			<a class="btn btn-info text-white" asp-controller="Examination" asp-action="All" asp-route-patientId="@item.Id">Examinations</a>
		</td>
		<td>
			<a class="btn btn-primary text-white" asp-controller="Patient" asp-action="Details" asp-route-id="@item.Id">Details</a>
		</td>
	</tr>
}
